body{
  background:beige;
  font-family: 'Raleway', sans-serif;
}

.title,.imageBox,.description{
text-align:center;
margin:25px;
}

.image-box {
width:100%;
}

h1,h2,h3 {
  text-align:center;
}

h1 {
  color:blue;
}

h2 {
  letter-spacing:2px;
  color:cadetblue;
}

.description {
  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing:2px;
  font-size:1.2em;
}

hr {
  width:50%;
  margin-top:25px;
  margin-bot:25px;
}

.techStack1 {
  text-align: right;
}

.techStack2 {
  text-align: center;

}
.techStack3 {
  text-align:left;
}

.socialIcons{
  text-align: center;
}

.techStack1,.techStack2,.techStack3 {

  width:33.3%;
  display:inline;
  float:left;
  margin-bottom:25px;
  margin-top:25px;
  padding:0;
}


i {
  font-size:5em;
  margin:10px;
}

@media (max-width:1200px) {
  .techStack1, .techStack2 ,.techStack3 {
    width:100%; /*The width is 100%, when the viewport is 800px or smaller*/
    text-align:center;
  }

  @media (max-width:600px) {
    .techStack1, .techStack2 ,.techStack3{
      width:100%; /*The width is 100%, when the viewport is 800px or smaller*/
      text-align:center;
    }
