* {
  margin-bottom: 50px;
}
.vh_sample {
  font-size: 5vh;
  color: blue;
}

.vw_sample {
  font-size: 5vw;
  color: brown;
}

.vmin_sample {
  font-size: 5vmin;
  color: red;
}

.vmax_sample {
  font-size: 5vmax;
}
