
.leftTriangle {
float: left;
border-right: 60px solid black;
border-top: 104px solid transparent;
border-bottom: 104px solid transparent;
}

 .hex {
float: left;
width: 120px;
height: 208px;
background-color: black;
color:white;
text-align:center;
line-height:200px;
font-size:1.8em;

}

 .rightTriangle {
float: left;
border-left: 60px solid black;
border-top: 104px solid transparent;
border-bottom: 104px solid transparent;
}

.content {
	display:flex;
	justify-content:center;
	margin-top:15%;
}